* {
  margin: 0;

  box-sizing: border-box;
}
body {
  /* background: #2c3e50; */
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  font-family: Verdana;
  color: white;
}

::selection {
  color: #2c3e50;
  background: rgb(255, 255, 255);
}

.settings-btn {
  position: absolute;
  bottom: 20px;
  left: auto;
  opacity: 0.5;
}

button {
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 14px;
}

.settings {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  /* display: block; */
  height: 70px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  border-radius: 0;
  outline: none;
  background-color: #ffffff;
  margin-left: 10px;
  width: 200px;
  padding: 5px;
}

.settings.hide {
  transform: translateY(-100%);
}

.main {
  background-color: #34495e;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  width: 500px;
  /* width: 55%; */
}

.main h2 {
  padding: 8px;
  border-radius: 5px;
  margin: 0 0 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0;
}

input {
  border: 0;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
  outline: none;
  border-radius: 4px;
}

.score-box {
  position: absolute;
  top: 70px;
  right: 20px;
}

.timeContainer {
  position: absolute;
  top: 70px;
  left: 20px;
}

.end-game-box {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: inherit;
  inset: 0;
  z-index: 1;
}

@media (max-width: 400px) {
  body {
    height: 50vh;
  }

  .settings {
    position: absolute;
    top: 0;
  }

  .settingsForm {
    width: 300%;
    position: absolute;
    max-width: 100%;
  }
  .main {
    background-color: #34495e;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    width: 500px;
    transform: scale(0.8);
  }
}
